*,
*:before,
*:after
{
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

header
{
    padding: 1em;

    color: white;
    background: rgb(171, 95, 16);
}

main
{
    flex-flow: row wrap;
    justify-content: center;
    flex: 1;
}

footer
{
    font-size: 18px;

    display: flex;

    padding: .75em;

    color: white;
    background: rgb(43, 175, 119);

    align-items: center;
}

a
{
    font-weight: 400;

    text-decoration: none;

    color: rgb(222, 200, 0);
}

.table
{
    display: flex;

    width: 100vw;
    height: 100vw;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;

    border: 2px solid black;

    flex-flow: row wrap;
}

.cell
{
    width: 5%;
    height: 5%;

    cursor: pointer;
    transition: .5s;
    text-align: center;

    border: 1px solid rgb(199, 199, 199);
}

.buttons
{
    display: flex;

    width: 100vw;

    flex-flow: row wrap;
    justify-content: center;
}

.button
{
    width: 10em;
    height: 2em;
    margin: .25em;
}

/*desktop*/
@media all and (min-width: 690px)
{
    .table
    {
        width: 30vw;
        height: 30vw;
    }

    .cell:hover
    {
        filter: brightness(50%);
    }
}
